@charset "utf-8";

@font-face{
	font-family: 'Inter Semibold';
	src: url("../fonts/Inter-SemiBold.woff") format('woff');
	font-style: normal;
	font-weight: 600;
}

@font-face{
	font-family: 'Inter Regular';
	src: url("../fonts/Inter-Regular.woff") format('woff');
	font-style: normal;
	font-weight: 400;
}
/*############################## GENERAL ##############################*/

*{
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	margin:0px;
	padding: 0px;
}

body *{
	border: solid 1px red;
}
/*############################## HEADER ##############################*/

header{
	width: 1440px;
	height: 737px;
	padding: 0px 24px;
}

#intro{
	width: 978px;
	height: inherit;
}
#calculator{
	width: 564px;
	height: 484px;
	position:absolute;
	z-index: 1;
	top: 166px;
	margin-left: 736px;
}
/*############################## MAIN ##############################*/

main{
	width: 1392px;
	height: 1907px;
	margin:196px auto 119px auto;
}


/*############################################################################*/
/*############################## TABLET VERSION ##############################*/
/*############################################################################*/

@media (min-width: 768px) and (max-width: 1023px) {}

/*############################################################################*/
/*############################## MOBILE VERSION ##############################*/
/*############################################################################*/
@media screen and (max-width:480px) {}