@charset "utf-8";

@font-face{
	font-family: 'Inter Semibold';
	src: url("../fonts/Inter-SemiBold.woff") format('woff');
	font-style: normal;
	font-weight: 600;
}

@font-face{
	font-family: 'Inter Regular';
	src: url("../fonts/Inter-Regular.woff") format('woff');
	font-style: normal;
	font-weight: 400;
}
/*############################## GENERAL ##############################*/

*{
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	margin:0px;
	padding: 0px;
}

body *{
	border: solid 1px red;
}
/*############################## HEADER ##############################*/

header{
	width: 1440px;
	height: 737px;
	padding: 0px 24px;
}
/*------------------------ INTRO ------------------------*/
#intro{
	width: 978px;
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 74px 0px 0px 116px;
}

#intro-logo{
	width: 64px;
	height: 64px;
}
#intro-title{
	width: 564px;
	height: 140px;
	margin: 127px 0px 0px;
}
#intro-text{
	width: 465px;
	height: 96px;
	margin: 35px 0px 0px;
}
#calculator{
	width: 564px;
	height: 484px;
	position:absolute;
	z-index: 1;
	top: 181px;
	margin-left: 736px;
	padding: 32px;
	display: grid;
	grid-template-columns: 238px 238px;
	grid-template-rows: 29px 31px 98px 166px;
	grid-template-areas: "mainLabel mainLabel""metric imperial""height weight""result result";
	grid-row-gap: 32px;
	grid-column-gap: 24px;
}

#cal-mainLabel{
	grid-area: mainLabel;
}
#cal-metric{
	grid-area: metric;
}
#cal-imperial{
	imperial: imperial;
}
#cal-height{
	grid-area: height;
}
#cal-weight{
	grid-area: weight;
}
#cal-result{
	grid-area: result;
}
/*############################## MAIN ##############################*/

main{
	width: 1440px;
	height: 1907px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0px auto 119px auto;
}
/*------------------------ EXPLANATION ------------------------*/
#explanation{
	width: 1160px;
	height: 533px;
	margin-top: 65px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#exp-mainPic{
	width: 564px;
	height: inherit;
}
#exp-text{
	width: 465px;
	height: inherit;
	padding-top: 184px;
}
#exp-text h2{
	width: inherit;
	height: 106px;
	margin: 0px;
}
#exp-text p{
	width: inherit;
	height: 168px;
	margin: 35px 0px 0px;
}
/*------------------------ HEALTH TIPS ------------------------*/
#healthTips{
	width: 1392px;
	height: 402px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 96px;
	padding: 72px 116px 0px;
}
.tip{
	width: 365px;
	height: 234px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.tip-pic{
	width: 64px;
	height: 64px;
}
.tip-info{
	width: inherit;
	height: 125px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	margin-top: 45px;
}
.tip-info h2{
	width: inherit;
	height: 29px;
	margin: 0px;
	padding: 0px;
}
.tip-info p{
	width: inherit;
	height: 72px;
	margin: 24px 0px 0px;
}
/*------------------------ LIMITATIONS ------------------------*/
#limitations{
	width: 1160px;
	height: 704px;
	margin-top: 120px;
}
/*############################################################################*/
/*############################## TABLET VERSION ##############################*/
/*############################################################################*/

@media (min-width: 768px) and (max-width: 1023px) {}

/*############################################################################*/
/*############################## MOBILE VERSION ##############################*/
/*############################################################################*/
@media screen and (max-width:480px) {}