@charset "utf-8";

@font-face {
	font-family: 'Inter Semibold';
	src: url("../fonts/Inter-SemiBold.woff")format('woff');
	font-style: normal;
	font-weight: 600;
}

@font-face{
	font-family: 'Inter Regular';
	src: url("../fonts/Inter-Regular.woff") format('woff');
	font-style: normal;
	font-weight: 400;
}
/*############################## GENERAL ##############################*/

*{
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	margin:0px;
	padding: 0px;
}
body *{
	/*border: solid 1px red;*/
}
h1,h2,h3,h4{
	color:#253347;
	margin:0px;
}
h1{
	font: 600 64px/110% 'Inter Semibold';
	letter-spacing: -0.05em;
}
h2{
	font: 600 48px/110% 'Inter Semibold';
	letter-spacing: -0.05em;
}
h3{
	font: 600 24px/1 'Inter Semibold';
	letter-spacing: -0.05em;
}
h4{
	font: 600 20px/110% 'Inter Semibold';
}
input[type="text"]{
	width: 131px;
	height: 29px;
	font: 600 24px/110% 'Inter Semibold';
	color:#253347;
	border:none;
}
input[type="text"]{
	outline: none;
}
::placeholder {
	color: #D8E2E7;
	opacity: 1;
}
input[type="radio"]{
	appearance: none;
	width: 31px;
	height: 31px;
	border-radius: 50%;
	border: solid 1px #D8E2E7;
	background-color: white;
	margin-right: 18px;
}
input[type="radio"]:checked:before {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	margin: 8px auto;
	border-radius: 50%;
	background-color: hsla(227, 92%, 58%,100%);
}
input[type="radio"]:checked {
	background-color: hsla(227, 92%, 58%,15%);
	border:none;
}
input[type="radio"]:hover {
	cursor: pointer;
	border-color:#345FF6;
}
body p{
	color:#5E6E85;
}
.textSmall{
	font: 400 14px/150% 'Inter Regular';
}
.textMedium{
	font: 400 16px/150% 'Inter Regular';
}
.textMediumBold{
	font: 400 16px/150% 'Inter Semibold';
}
/*############################## HEADER ##############################*/

header{
	width: 1440px;
	height: 737px;
	padding: 0px 24px;
}
/*------------------------ INTRO ------------------------*/
#intro{
	width: 978px;
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 74px 0px 0px 116px;
	background: linear-gradient(-45deg,hsla(216,95.2%,91.8%,1),hsla(183,95.2%,91.8%,0));
	border-radius: 0px 0px 35px 35px;
}

#intro-logo{
	width: 64px;
	height: 64px;
	background: url("../images/logo.svg");
}
#intro-title{
	width: 564px;
	height: 140px;
	margin: 127px 0px 0px;
	text-align: left;
}
#intro-text{
	width: 465px;
	height: 96px;
	margin: 35px 0px 0px;
}
/*------------------------ CALCULATOR ------------------------*/
#calculator{
	width: 564px;
	position:absolute;
	z-index: 1;
	top: 181px;
	margin-left: 712px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	background-color: white;
	box-shadow: 16px 32px 56px 0px hsla(210.9,40%,68.6%,0.25);
}
#calculator > *{
	width: 500px;
}
#calculator > div{
	margin-top: 32px;
}
#cal-mainLabel{
	height: 29px;
	text-align: left;
}
#cal-systemSelect{
	height: 31px;
	display: flex;
	flex-direction: row;
}
#metric{
	margin-right: 24px;
}
#cal-metricSystem{
	height: 98px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#cal-imperialSystem{
	height: 220px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
}
#cal-imperialSystem > div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#cal-result{
	background-color: #345FF6;
	border-radius: 16px 83px 83px 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	padding: 32px;
	background: linear-gradient(to right, #345FF6,#587DFF)
}

#cal-result p{
	color: white !important;
}
#result-welcome{
	width: 436px;
	height: 66px;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
}

#result-welcome h3{
	width: inherit;
	height: 29px;
	color: white !important;
	line-height: 29px !important;
}

#result-welcome p{
	width: inherit;
	height: 21px;
	line-height: 21px;
	margin-top: 16px;
}

#result-report{
	width: 436px;
	height: 102px;
	display:none;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
#result-report > *{
	width: 206px;
	height: inherit;
}
#report-container{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
#BMI-text{
	margin: 0px;
}
#BMI-number{
	font: 600 64px/110% 'Inter Semibold';
	margin:0px;
}
.system-div{
	width: 238px;
	display: flex;
	align-items: center;
}
.txtField-border{
	width: 238px;
	height: 69px;
	display: flex;
	align-content: center;
	justify-content: space-between;
	border: solid 1px #D8E2E7;
	border-radius: 12px;
	margin-top: 8px;
	padding: 20px 24px;
}
.txtField-border:hover{
	border-color: #345FF6;
}
.txtField-border p{
	width: 40px;
	height: 29px;
	margin: 0px;
	color:#345FF6;
	font: 600 24px/110% 'Inter Semibold';
	text-align: left;
}
.parameter{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 98px;
}
.parameterLabel{
	color:#5E6E85;
}
/*############################## MAIN ##############################*/

main{
	width: 1440px;
	height: 1907px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0px auto 119px auto;
	background: url("../images/pattern-curved-line-left.svg") 1191px 0px/86px no-repeat;
}
/*------------------------ EXPLANATION ------------------------*/
#explanation{
	width: 1160px;
	height: 533px;
	margin-top: 65px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#exp-mainPic{
	width: 564px;
	height: inherit;
	background: url("../images/image-man-eating.webp") center/563px no-repeat;
}
#exp-text{
	width: 465px;
	height: inherit;
	padding-top: 184px;
}
#exp-text h2{
	width: inherit;
	height: 106px;
}
#exp-text p{
	width: inherit;
	height: 168px;
	margin: 35px 0px 0px;
}
/*------------------------ HEALTH TIPS ------------------------*/
#healthTips{
	width: 1392px;
	height: 402px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 96px;
	padding: 72px 116px 0px;
	border-radius: 35px;
	background: linear-gradient(to left,hsla(216,95.2%,91.8%,0.2),hsla(183,95.2%,91.8%,0));
}
#eating-pic{
	background: url("../images/icon-eating.svg") center/64px no-repeat;
}
#exercise-pic{
	background: url("../images/icon-exercise.svg") center/64px no-repeat;
}
#sleeping-pic{
	background: url("../images/icon-sleep.svg") center/64px no-repeat;
}
.tip{
	width: 365px;
	height: 234px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.tip-pic{
	width: 64px;
	height: 64px;
}
.tip-info{
	width: inherit;
	height: 125px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	margin-top: 45px;
}
.tip-info h2{
	width: inherit;
	height: 29px;
}
.tip-info p{
	width: inherit;
	height: 72px;
	margin: 24px 0px 0px;
}
/*------------------------ LIMITATIONS ------------------------*/
#limitations{
	width: 1160px;
	height: 704px;
	margin-top: 120px;
	display: flex;
	flex-wrap: wrap;
	background: url("../images/pattern-curved-line-right.svg") 165px 251px/95px no-repeat;
}
#limit-info{
	width: 564px;
	height: 184px;
}

.limit{
	width: 365px;
	padding: 32px;
	border-radius: 32px;
	background-color: white;
	box-shadow: 16px 32px 56px 0px hsla(210.9,40%,68.6%,0.25);
}
.limit div{
	width: 100%;
	height: 32px;
	display:flex;
	align-items: center;
	padding: 0px;
}
.limit h3{
	margin: auto  0px auto 16px;
}
.limit p{
	margin: 16px 0px 0px;
	padding: 0px;
}
.short{
	height: 184px;
}
.large{
	height: 232px;
}
#limit-gender{
	margin-left: 132px;
	margin-bottom: 32px;
}
#limit-age{
	margin-left: 398px;
	margin-bottom: 24px;
}
#limit-muscle{
	margin-left: 32px;
	margin-bottom: 24px;
}
#limit-pregancy{
	margin-left: 199px;
}
#limit-race{
	margin-left: 32px;
}
/*############################################################################*/
/*############################## TABLET VERSION ##############################*/
/*############################################################################*/

@media (min-width: 768px) and (max-width: 1023px) {}

/*############################################################################*/
/*############################## MOBILE VERSION ##############################*/
/*############################################################################*/
@media screen and (max-width:480px) {}